<html>
<body>
<form method="POST">
  <div>
  Username:
  <input type="text" name="username"/>
  </div>
  <div>
  Name:
  <input type="text" name="name"/>
  </div>
  <div>
  Message:
  <textarea name="message"></textarea>
  </div>
  <button>Send Message</button>
</form>
<% messages.forEach(function(el, index){ %>
<div>
<%= messages[index].message %>
<br/>
 - <%= messages[index].name %>
</div>
<% }) %>
</body>
</html>
